@import "tailwindcss";
/* 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
} */
:root {
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  .swiper-button-prev{
    z-index: 100000000000;

  }
  textarea::before {
    content: "↘"; 
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 16px;
    opacity: 1;
    z-index: 1000;
  }
  .swiper-button-prev::after {
    position: absolute;
    right: 10px;
    font-size: 30px;
  }
  .swiper-button-next::after {
    position: absolute;
    left: 10px;
    font-size: 30px;
  }

  .no-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
  }
  .scrollbar-view::-webkit-scrollbar-thumb  {
    background-color: rgba(156, 156, 156, 0.479) ;
  }
}
  body, button, input,textarea {
  -webkit-font-smoothing: antialiased;
}
/* ::-webkit-scrollbar-track {
  background: rgba(43, 43, 43, 0.068);
  border-radius: 9999px;
}
::-webkit-scrollbar {
  width: 5px;
}
  
::-webkit-scrollbar-thumb {
  background-color: rgba(156, 156, 156, 0.479) ;
  border-radius: 99px;
} */

@layer utilities {
  .spin-visible {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: auto;
      margin: initial;
    }
  }
  .no-drag {
    -webkit-app-region: no-drag; 
  }
  .title-bar-drag-region {
    -webkit-app-region: drag; 
  }
  
  .no-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
  }
  .scrollbar-view::-webkit-scrollbar-thumb  {
    background-color: rgba(156, 156, 156, 0.479) ;
  }

}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

}
