@import "tailwindcss";
/* 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
} */
:root {
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
  body, button, input,textarea {
  -webkit-font-smoothing: antialiased;
}
/* ::-webkit-scrollbar-track {
  background: rgba(43, 43, 43, 0.068);
  border-radius: 9999px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(156, 156, 156, 0.479) ;
  border-radius: 99px;
} */

@layer utilities {
  .spin-visible {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: auto;
      margin: initial;
    }
  }
  .no-drag {
    -webkit-app-region: no-drag; 
  }
  .title-bar-drag-region {
    -webkit-app-region: drag; 
  }
  
  .no-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
  }
  .scrollbar-view::-webkit-scrollbar-thumb  {
    background-color: rgba(156, 156, 156, 0.479) ;
  }

}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;  /* Para Internet Explorer e Edge */
    scrollbar-width: none;  /* Para Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Para Chrome, Safari e Opera */
  }
}
